<div class="row px-2">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Lista de Proyectos ({{ cantidad }})</mat-card-title>
        <!-- <mat-card-subtitle>End</mat-card-subtitle> -->
        <span class="spacer"></span>
        <mat-dialog-actions>
          <button mat-mini-fab matTooltip="Crear Nuevo" (click)="createProject()" color="primary"
            aria-label="Example mini fab with a heart icon">
            <mat-icon>add</mat-icon>
          </button>
        </mat-dialog-actions>

      </mat-card-header>

      <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Buscar...</mat-label>
        <input matInput placeholder="Buscar" search (keyup)="applyFilter($event)" #termino>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-card-content>
        
        <div>
          <table mat-table mat-table [dataSource]="dataSource" matSort>
            <!-- ['gestion', 'codigoSisin', 'codigoProyecto', 'nombreProyecto', 'detalle', 'costo', 'empresa', 'contactoEmpresa', 'supervisor', 'lugar', 'estante', 'fila', 'observaciones', 'fichaTecnica', 'documentos', 'itcp', 'fichaAmbiental', 'plano', 'documentosDigital', 'acciones']; -->

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 230px;">Acciones</th>
              <td></td>
              <td mat-cell *matCellDef="let row" style="width: 220px;">
                <button class="iconBtn" (click)="verDetalle(row._id)" mat-icon-button color="accent"
                  matTooltip="Ver Detalle" aria-label="Example icon-button with a heart icon">
                  <mat-icon>preview</mat-icon>
                </button>
                <button class="iconBtn" (click)="addArchivo(row._id)" mat-icon-button color="primary"
                  matTooltip="Añadir Archivo" aria-label="Example icon-button with a heart icon">
                  <mat-icon>library_add</mat-icon>
                </button>
                <button class="iconBtn" (click)="editProject(row._id)" mat-icon-button color="primary"
                  matTooltip="Editar" aria-label="Example icon-button with a heart icon">
                  <mat-icon>edit</mat-icon>
                </button>
                <button class="iconBtn" (click)="deleteProject(row._id)" mat-icon-button color="warn"
                  matTooltip="Eliminar" aria-label="Example icon-button with a heart icon">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="gestion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Gestión</th>
              <td mat-cell *matCellDef="let row">{{ row.gestion }}</td>
            </ng-container>

            <ng-container matColumnDef="codigoSisin">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Código Sisin</th>
              <td mat-cell *matCellDef="let row">{{ row.codigoSisin }}</td>
            </ng-container>

            <ng-container matColumnDef="codigoProyecto">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Código de Proyecto</th>
              <td mat-cell *matCellDef="let row">{{ row.codigoProyecto }}</td>
            </ng-container>

            <ng-container matColumnDef="nombreProyecto">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del Proyecto</th>
              <td mat-cell *matCellDef="let row">{{ row.nombreProyecto }}</td>
            </ng-container>

            <ng-container matColumnDef="detalle">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Detalle</th>
              <td mat-cell *matCellDef="let row">{{ row.detalle }}</td>
            </ng-container>

            <ng-container matColumnDef="costo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo</th>
              <td mat-cell *matCellDef="let row">{{ row.costo }}</td>
            </ng-container>

            <ng-container matColumnDef="empresa">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
              <td mat-cell *matCellDef="let row">{{ row.empresa }}</td>
            </ng-container>





            <ng-container matColumnDef="lugar">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Lugar</th>
              <td mat-cell *matCellDef="let row">{{ row.lugar }}</td>
            </ng-container>

            <ng-container matColumnDef="estante">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Estante</th>
              <td mat-cell *matCellDef="let row">{{ row.estante }}</td>
            </ng-container>

            <ng-container matColumnDef="fila">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Fila</th>
              <td mat-cell *matCellDef="let row">{{ row.fila }}</td>
            </ng-container>


            <ng-container matColumnDef="fichaTecnica">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Ficha Tecnica</th>
              <td mat-cell *matCellDef="let row">

                <a *ngIf="row.fichaTecnica" href="{{ baseUrl }}/proyect/getFichaTecnica/{{ row.fichaTecnica }}"
                  target="_blank">
                  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                    matTooltip="Descargar">
                    <mat-icon>download</mat-icon>
                  </button>
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="documentos">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Documentos</th>
              <td mat-cell *matCellDef="let row">

                <a *ngIf="row.documentos" href="{{ baseUrl }}/proyect/getDocumentos/{{ row.documentos }}"
                  target="_blank">
                  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                    matTooltip="Descargar">
                    <mat-icon>download</mat-icon>
                  </button>
                </a>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            <tr *matNoDataRow>
              <td class="mat-cell">"{{ termino.value }}" No existe</td>
            </tr>
          </table>
          
          <mat-paginator [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>