<div class="row px-2">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Lista de Proyectos ({{ cantidad }})</mat-card-title>
        <!-- <mat-card-subtitle>End</mat-card-subtitle> -->
        <span class="spacer"></span>
        <mat-dialog-actions>
          <button mat-mini-fab matTooltip="Crear Nuevo" (click)="createProject()" color="primary"
            aria-label="Example mini fab with a heart icon">
            <mat-icon>add</mat-icon>
          </button>
        </mat-dialog-actions>

      </mat-card-header>

      <mat-accordion class="example-headers-align">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Busqueda Especifica
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="searchForm">
            <mat-form-field class="small-input">
              <mat-label>Canton</mat-label>
              <mat-select formControlName="canton">
                @for (canton of cantones(); track $index) {
                <mat-option [value]="canton.canton">{{ canton.canton | titlecase }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field class="small-input">
              <mat-label>Subcentralia</mat-label>
              <mat-select formControlName="subcentralia">
                @for (subcentral of subcentralias(); track $index) {
                <mat-option [value]="subcentral.subcentralia">{{ subcentral.subcentralia | titlecase }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field class="small-input">
              <mat-label>Comunidad</mat-label>
              <mat-select formControlName="comunidad">
                @for (comunidad of comunidades(); track $index) {
                <mat-option [value]="comunidad.comunidad">{{ comunidad.comunidad | titlecase }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <app-select-year [control]="searchForm.get('gestion')" [clases]="'small-input'" [texto]="'Gestión'"></app-select-year>

            <mat-form-field class="small-input">
              <mat-label>Código Sisin</mat-label>
              <input matInput type="text" formControlName="codigoSisin">
            </mat-form-field>

            <mat-form-field class="small-input">
              <mat-label>Código Proyecto</mat-label>
              <input matInput type="text" min="1" formControlName="codigoProyecto">
            </mat-form-field>

            <mat-form-field class="small-input">
              <mat-label>Tipo de Estudio</mat-label>
              <mat-select formControlName="tipoEstudio">
                <mat-option [value]="'EDTP'">{{ 'EDTP' }}</mat-option>
                <mat-option [value]="'ITCP'">{{ 'ITCP' }}</mat-option>
                <mat-option [value]="'PERFIL'">{{ 'PERFIL' }}</mat-option>
                <mat-option [value]="'TESA'">{{ 'TESA' }}</mat-option>
                <mat-option [value]="'EI'">{{ 'EI' }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="small-input">
              <mat-label>Nombre de Proyecto</mat-label>
              <input matInput type="text" formControlName="nombreProyecto">
            </mat-form-field>

            <mat-form-field class="small-input">
              <mat-label>Detalle</mat-label>
              <input matInput type="text" formControlName="detalle">
            </mat-form-field>

            <mat-form-field class="small-input">
              <mat-label>Empresa</mat-label>
              <input matInput type="text" formControlName="empresa">
            </mat-form-field>

            <button class="mx-2" appLoader mat-raised-button color="primary" (click)="onSearch()">Buscar</button>
            <button class="mx-2" appLoader mat-raised-button (click)="reset()">Borrar</button>
          </form>
          {{ searchForm.value | json }}
        </mat-expansion-panel>
      </mat-accordion>

      <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Buscar...</mat-label>
        <input matInput placeholder="Buscar" search (keyup)="applyFilter($event)" #termino>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>


      <mat-card-content>

        <div>
          <table mat-table mat-table [dataSource]="dataSource" matSort class="small-text-table">

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 230px;">Acciones</th>
              <td></td>
              <td mat-cell *matCellDef="let row" style="width: 220px;">
                <button class="iconBtn" (click)="verDetalle(row._id)" mat-icon-button color="accent"
                  matTooltip="Ver Detalle" aria-label="Example icon-button with a heart icon">
                  <mat-icon>preview</mat-icon>
                </button>
                <button class="iconBtn" (click)="addArchivo(row._id)" mat-icon-button color="primary"
                  matTooltip="Añadir Archivo" aria-label="Example icon-button with a heart icon">
                  <mat-icon>library_add</mat-icon>
                </button>
                <button class="iconBtn" (click)="editProject(row._id)" mat-icon-button color="primary"
                  matTooltip="Editar" aria-label="Example icon-button with a heart icon">
                  <mat-icon>edit</mat-icon>
                </button>
                <button class="iconBtn" (click)="deleteProject(row._id)" mat-icon-button color="warn"
                  matTooltip="Eliminar" aria-label="Example icon-button with a heart icon">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <!-- ['acciones', 'programa', 'nombreProyecto', 'tipoProyecto', 'estado', 'documentos']; -->

            <ng-container matColumnDef="programa">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Programa</th>
              <td mat-cell *matCellDef="let row">{{ row.programa ? row.programa.codigo : '-' }}</td>
            </ng-container>

            <ng-container matColumnDef="nombreProyecto" width="350px">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del Proyecto</th>
              <td mat-cell *matCellDef="let row">{{ row.nombreProyecto }}</td>
            </ng-container>

            <ng-container matColumnDef="tipoProyecto">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Proyecto</th>
              <td mat-cell *matCellDef="let row">{{ row.tipoProyecto }}</td>
            </ng-container>

            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
              
              <td mat-cell *matCellDef="let row">
                @if (row.estado == 'true') {
                  <span class="badge text-bg-success">Ejecutado</span>
                }@else{
                  <span class="badge text-bg-danger">No Ejecutado</span>
                }
              </td>
            </ng-container>

            <ng-container matColumnDef="documentos">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Documentos</th>
              <td mat-cell *matCellDef="let row">

                <a *ngIf="row.fichaTecnica" href="{{ baseUrl }}/proyect/getFichaTecnica/{{ row.fichaTecnica }}"
                  target="_blank">
                  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                    matTooltip="Descargar" color="warn">
                    <mat-icon>sim_card_download</mat-icon>
                  </button>
                </a>

                <a *ngIf="row.documentos" href="{{ baseUrl }}/proyect/getDocumentos/{{ row.documentos }}"
                  target="_blank">
                  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                    matTooltip="Descargar">
                    <mat-icon>download</mat-icon>
                  </button>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr *matNoDataRow>
              <td class="mat-cell">"{{ termino.value }}" No existe</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons
            aria-label="Select page of periodic elements"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>