/* Clase personalizada para hacer los mat-form-field más pequeños */
.small-input {
  width: 150px;
  /* Ajusta el ancho según tus necesidades */
}

.small-input .mat-mdc-form-field-flex {
  padding: 0 14px;
  /* Ajusta el padding según tus necesidades */
}

.small-input .mat-mdc-input-element {
  font-size: 0.75rem;
  /* Ajusta el tamaño de la fuente según tus necesidades */
  height: 1rem;
  line-height: 1rem;
}

.small-input .mat-mdc-floating-label {
  font-size: 1rem;
  /* Ajusta el tamaño de la fuente del label */
}


/* Clase personalizada para reducir el tamaño del texto en mat-table */
.small-text-table {
  font-size: 0.75rem !important;
  /* Ajusta el tamaño del texto según tus necesidades */
}

.small-text-table .mat-header-cell,
.small-text-table .mat-mdc-cell {
  font-size: 0.75rem !important;
  /* Ajusta el tamaño del texto para las celdas */
}