/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

.create-form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
}

.full-width {
    width: 100%;
}

.two-col {
    width: 50%;
}

.three-col {
    width: 33.3%;
}

.m-three-col {
    padding: 0px 10px 0px 10px
}

.right {
    padding: 10px;
}